@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: ease-out 0.3s;
    
}
body {
    font-family: "Montserrat", sans-serif;
    transition: ease-out 0.3s;
    overflow-x: hidden !important;
    width: 100%;
    background-color: #212121;
    color: #fff;
}

:root{
    --fadgy:#ddd;
    --black:#000;
    --red: #ff3131;
    --yllo:#ff914d;
    --fade:#fff;
    --grey:#1d1d1f;
    --grey1:#1f1f1d;
    --pdcolor:#5de0e6;
    --pddark:#004aad;
    --back:#dfeff1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    padding: 0;
    margin: 0;
}

ul,
ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

.section-padding{
    padding:100px 0;
}
.padding-top{
    padding-top: 100px;
}
.padding-bottom{
    padding-bottom: 100px;
}
.padding-half{
    padding-top: 50px;
}
.bg-color{
    background-color: #f9f9f9;
}



.header-sec .container{
    max-width: 85%;
}
.header-sec {
    padding: 20px 0;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    transition: all 0.5s;
}
.header-sec.is-sticky {
    position: fixed;
    top: 15px;
    padding: 0;
    transition: all 0.5s;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: #62626299;
    padding: 10px 25px;
    border-radius: 100px;
}
.logo img {
    max-width: 66px;
}
.menu-area ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu-area ul li a {
    color: var(--fade);
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-size: 17px;
    position: relative;
    display: block;
    overflow: hidden;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.nav-abs {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -25px;
    transition: all 0.5s;
}
.nav-view{
    margin-top: 0px;
    display: block;
    transition:all 0.5s;
}
.menu-area ul li a:hover .nav-abs {
    bottom: 0;
    transition: all 0.5s;
}
.menu-area ul li a:hover .nav-view{
    margin-top: -100px;
    transition:all 0.5s;
}
.menu-area ul li{
    position: relative;
}
.menu-area ul li::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--yllo);
    transition: all 0.5s;
}
.menu-area ul li:hover::after{
    transition: all 0.5s;
    width: 100%;
}
.main-dropdown {
    position: absolute;
    flex-direction: column;
    width: 250px;
    background: var(--fade);
    backdrop-filter: blur(10px);
    align-items: start !important;
    padding: 15px;
    gap: 10px !important;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    top: 140%;
    transform: rotateY(90deg);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.dropdown-list:hover .main-dropdown{
    opacity: 1;
    visibility: visible;
    transform: rotateY(0deg);
    transition: all 0.5s;
}
.main-dropdown li a {
    color: var(--black) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}
.contact-btn {
    background: linear-gradient(45deg, #ff3131, #ff914d);
    color: #fff;
    border-radius: 44px;
    padding: 12px 10px 12px 20px;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 10px 10px 10px transparent;
}
.contact-btn:hover {
    background: linear-gradient(45deg, #ff914d, #ff3131);
    transition: all 0.3s;
    color: #fff;
    box-shadow: 0px 1px 20px 12px #2cb9e06b;
}
.fixed-arrow {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 13px;
    background: #000;
    border-radius: 50%;
    line-height: 35px;
    margin-left: 8px;
    transition: all 0.2s;
}
.contact-btn:hover .fixed-arrow {
    color: var(--black);
    background-color: var(--fade);
    transition: all 0.2s;

}
.button-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s;
    height: 100%;
    padding-left: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    transform: scale(0);
    transition-duration: 0.5s;
}
.contact-btn:hover .button-span{
    transform: scale(1);
    transition: all 0.2s;
    transition-duration: 0.5s;
}
.contact-btn:hover .btn-fixed{
    opacity: 0;
    visibility: hidden;
}
.logo-area {
    display: flex;
    flex: 1 0 0;
}
.contact-area {
    justify-content: flex-end;
    display: flex;
    flex: 1 0 0;
}
.banner-sec{
    background: linear-gradient(45deg, #ff3131, #ff914d);
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.banner-imgoval{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner-imgoval img{
    width: 100%;
    height: 100%;
}
.banner-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: 200px;
}
.banner-content h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    line-height: 70px;
}
.banner-content h1 span{
    color: var(--pdcolor);
    font-weight: 700;
}
.banner-content p {
    color: #fff;
    text-shadow: 0px 4px 61px #000;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
}
.banner-content p a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background: var(--pddark);
    border-radius: 25px;
}
.search-form {
    width: 100%;
    margin-top: 30px;
}
.main-search{
    position: relative;
}
.main-search .form-control {
    padding: 24px 0px 24px 57px;
    background: #ffffff73;
    border: 1px solid #27272773;
    box-shadow: none !important;
    backdrop-filter: blur(10px);
    border-radius: 44px;
    font-size: 14px;
    color: #fff;
}
.main-search .form-control::placeholder{
    color: var(--fade);
}
.search-btn {
    position: absolute;
    color: var(--fade);
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.section-bottom-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}


.service-sec .container{
    max-width: 85%;
}
.service-sec{
    position: relative;
    z-index: 2;
    margin-top: -250px;
}
.service-area {
    padding: 25px;
    background: #1e1e1e78;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    min-height: 413px;
    /* box-shadow: 0px 20px 20px 0px #dddddd61; */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.service-area::after {
    content: "";
    position: absolute;
    bottom: -60px;
    right: -60px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: linear-gradient(45deg, #742907, #042b48);
    z-index: -1;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.service-area:hover::after{
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    border-radius: 0%;
    bottom: 0;
    right: 0;
}
.icon-area {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
}
.service-go a {
    width: 56px;
    height: 56px;
    display: block;
    line-height: 56px;
    border-radius: 50%;
    border: 1px solid var(--fade);
    text-align: center;
    color: var(--fade);
    font-size: 22px;
    transform: rotate(-45deg);
}
.service-heading h2 {
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #575757;
    color: var(--fade);
    font-weight: 400;
}
.service-point ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service-point ul li a {
    color: var(--fade);
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}
.service-heading {
    margin-bottom: 40px;
}
.service-heading h1 {
    color: var(--fade);
    font-weight: 400;
}
.service-heading p{
    color: var(--fade);
    width: 60%;
    margin: 20px auto 0;
    font-size: 14px;
}


.featured-content h1 {
    margin-bottom: 30px;
    color: var(--fade);
    font-weight: 400;
}
.featured-content h1 span{
    color: var(--yllo);

} 
.featured-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
    color: var(--fade);
}
.featured-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1e1e1e78;
    border: 1px solid #dddddd17;
    padding: 25px;
    border-radius: 25px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.featured-main::after {
    content: "";
    position: absolute;
    bottom: -60px;
    right: -60px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: linear-gradient(45deg, #742907, #042b48);
    z-index: -1;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.featured-main:hover::after{
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    border-radius: 0%;
    bottom: 0;
    right: 0;
}
.frt-icon {
    width: 100px;
    height: 100px;
    border: 1px solid var(--yllo);
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.frt-content {
    width: 100%;
    text-align: center;
}
.frt-content h5 {
    color: var(--fade);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}
.frt-content p{
    width: 100%;
}
.featured-slide {
    position: sticky;
    top: 0;
}
.featured-slide .owl-nav {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.featured-slide .owl-prev, .owl-next {
    width: 60px;
    height: 60px;
    line-height: 40px;
    border: 1px solid var(--fade) !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fade) !important;
}
 
.featured-slide .owl-prev:hover, .owl-next:hover {
    border-color: transparent !important;
    color: var(--fade) !important;
    background-color: var(--yllo) !important;
}
.web-tabs h1 {
    text-align: center;
    font-weight: 400;
    color: var(--black);
}
.tabs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-flow: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
}
.tabs-btn li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding: 13px 20px;
    background: #dddddd7a;
    text-transform: capitalize;
    border-radius: 25px;
    font-weight: 700;
    border: 1px solid transparent;
    display: block;
}
.tabs-btn li.active a{
    border-color: var(--pddark);
}
.tabcontent{
    display: none;
}
.website-area {
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
}
.web-content h5 {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}
.web-content h5 span img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.website-img {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #fff;
    position: relative;
}
.website-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000063;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.website-area:hover .website-img::after {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
} 
.button-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.3s;
    transition-duration: 0.5s;
}
.website-area:hover .button-overlay{
    transform: scale(1);
    transition: 0.3s;
    transition-duration: 0.5s;
} 

.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.featured-content {
    padding-left: 290px;
    padding-right: 50px;
}
.featured-img img {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

/*tesimonial sec start*/
.testimonials-sec{
    background: linear-gradient(45deg, #ff3131, #ff914d);
    position: relative;
    z-index: 1;
}
.testi-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    overflow: hidden;
}
.testi-bg img{
    width: 100%;
}
.tesimonial-heading h1 {
    font-size: 44px;
    line-height: 50px;
    color: var(--fade);
    font-weight: 400;
    position: relative;
}
.tesimonial-item{
    display: flex;
    gap: 25px;
}
.tesimonial-item img {
    width: 300px !important;
    margin-top: -30px;
}
.tesimonial-item {
    padding-top: 30px;
    padding-left: 50px;
}
.tesimonial-item p {
    font-size: 24px;
    line-height: 36px;
    color: var(--fade);
    font-weight: 500;
}
.testiheading span{
    color: var(--pdcolor);
}
.testiheading {
   font-size: 24px;
    line-height: 36px;
    color: var(--fade);
    font-weight: 500;
    margin-top: 30px; 
}


.tesimonial-area .owl-nav {
    position: absolute;
    bottom: 45px;
    left: -387px;
    display: flex;
    gap: 10px;
}   

@media only screen and (min-width:1401px) and (max-width:1600px){
    .tesimonial-area .owl-nav {
        bottom: 19px;
        left: -438px;
    }
}
.tesimonial-area .owl-prev, .owl-next {
    width: 60px;
    height: 60px;
    line-height: 40px;
    border: 1px solid var(--fade) !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fade) !important;
}
.tesimonial-area .owl-prev:hover, .owl-next:hover {
    border-color:transparent !important;
    color: var(--fade) !important;
    background-color: var(--yllo) !important;
}
@media (max-width:1920px){
    .tesimonial-area .owl-nav {
        bottom: 15px;
        left: -441px;
    }
}
.client-heart {
    color: var(--fade);
}
.section-heading h1 {
    font-weight: 400;
    color: var(--fade);
}
.right-btn {
    float: right;
}
.journal-area {
    position: relative;
    margin-top: 40px;
    background: #1e1e1e78;
    padding: 60px;
    display: flex;
    gap: 150px;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    color: #2c2b2a;
    border-radius: 25px;
    border: 1px solid #dddddd17;
}
.journel-tag {
    background: #ff3131;
    padding: 0px 5px;
    width: fit-content;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.journal-content span {
    color: var(--fade);
    font-weight: 500;
    text-transform: uppercase;
}
.journal-content p {
    font-size: 20px;
    font-weight: 600;
    color: var(--fade);
}
.img-overlay-jor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.3s ease-out;
    opacity: 0.5;
}
.journal-area.active .img-overlay-jor{
    transform: scale(1.2);
    opacity: 0.4;
}
.journal-area:hover .img-overlay-jor{
    transform: scale(1);
    opacity: 0.4;
    transition: 0.3s ease-out;
}

/* footer sec start */
footer {
    background: var(--fade);
    padding: 90px 0 40px;
    position: relative;
    z-index: 1;
}
/* footer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
} */
/* .footer-overley {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.footer-overley img{
    width: 100%;
} */
.footer-logo img {
    max-width: 120px;
}
/* footer .container {
    max-width: 85%;
} */
.footer-wiget h1 {
    font-size: 44px;
    color: var(--black);
    font-weight: 600;
    line-height: 50px;
}

.footer-wiget h4 {
    font-size: 17px;
    color: var(--black);
    font-weight: normal;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-list li a span {
    margin-right: 10px;
}
.footer-list li a span img{
    filter: invert(1);
}
.address-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}
.address-list li{
    color:var(--black);
    font-size: 14px;
    line-height: 1.5;
}
.address-list li a{
    color: var(--black);
    font-size: 14px;
    text-decoration: none;
}
.ct-address{
    color: var(--black);
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px; 
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}
.footer-list li a {
    color: var(--black);
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 400;
}
.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 17px;
}
.social-links li a {
    width: 35px;
    height: 35px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.left-ft-p {
    font-size: 14px;
    margin-top: 40px;
}
.md-ft-p {
    font-size: 14px;
    margin-top: 40px;
    text-align: center;
}
.end-ft-p {
    font-size: 14px;
    margin-top: 40px;
    text-align: right;
    color: var(--black);
}
.left-ft-p a{
    color: var(--black);
    text-decoration: none;
}
.md-ft-p a{
    color: var(--black);
    text-decoration: none;
}
.end-ft-p a{
    color: var(--black);
    text-decoration: none;
}

.login-sign-btn {
    position: fixed;
    z-index: 9999;
    background-color: #62626299;
    padding: 3px 3px;
    display: flex;
    gap: 5px;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    right: -135px;
    transition: all 0.3s;
}
.login-sign-btn:hover{
    right: -5px;
    transition: all 0.3s;
}
.login-sign-btn a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    background: #000;
    padding: 10px 25px 10px 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
}
.login-sign-btn a span {
    background: #fff;
    color: #000;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

/* footer sec end */



.text {
    transition: all 0.3s ease;
}
#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: transform .15s ease-in-out;
    z-index: 99999999999999999999;
  }

  .btn:hover #cursor{
    display: none !important;
  } 

  .fade {
    opacity: 0;
  }


  @media only screen and (min-width:1200px) and (max-width:1400px){
    .featured-content {
        padding-left: 125px;
    }
    .tesimonial-area .owl-nav {
        left: -384px;
    }
  }

  .subbanner-sec{
    padding: 200px 0 100px;
  }
  .subbanner-sec h1 {
    font-size: 7vw;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 7vw;
}
.subbanner-sec p {
    font-size: 14px;
    width: 70%;
    margin: 1rem auto 0;
    text-align: center;
}
.subbanner-sec img {
    border-radius: 25px;
    margin-top: 100px;
}
.subbanner-sec .container {
    max-width: 85%;
}
.ab-column-img img{
    border-radius: 44px;
}
.ab-column-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    padding-left: 50px;
    gap: 45px;
}
.about-column-sec .row{
    margin-bottom: 100px;
}
.about-column-sec .row:nth-child(2) {
    flex-direction: row-reverse;
}
.about-column-sec .row:nth-child(2) .ab-column-content {
    padding-left: 0px;
    padding-right: 50px;
} 

.anime{
    background-color: #000;
}

.anime > p {
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 50%,
      rgb(37, 37, 37) 50%
    );
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: -0px;
    margin-left: 50px;
    line-height: 1.2;
  /*   outline: 6px dotted teal; */
  }
  
.contact-images{
    overflow: hidden;
    border-radius: 44px;
}

.select-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.select-dropdown__button {
    padding: 24px;
    background: #ffffff0d;
    border: 1px solid #6a6a6a73;
    box-shadow: none !important;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-dropdown__button::focus {
    outline: none;
}
.select-dropdown__button .zmdi-chevron-down {
    position: absolute;
    right: 10px;
    top: 12px;
}
.select-dropdown__list {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
    transform-origin: top left;
    transform: scale(1, 0);
    transition: all ease-in-out 0.3s;
    z-index: 2;
}
.select-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1, 1);
}
.select-dropdown__list-item {
    display: block;
    list-style-type: none;
    padding: 10px 15px;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    color: #616161;
    transition: all ease-in-out 0.3s;
}

.contact-form .form-control {
    padding: 24px;
    background: #ffffff0d;
    border: 1px solid #6a6a6a73;
    box-shadow: none !important;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
}
.contact-form {
    position: relative;
    padding-left: 50px;
}
.contact-form label {
    margin-bottom: 0.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.contact-form .form-group {
    margin-bottom: 2rem;
}
.trems-peragraph {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-bottom: 2rem;
}
.trems-peragraph a {
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    color: #ff4035;
}
#for-thems h1 {
    font-size: 4vw;
    line-height: 5vw;
}
#for-thems h1 span{
    color:var(--pdcolor);
}